.casestuding_containts {
  padding-top: 181px;
}
.casestuding_containts .btnarrow {
  margin-bottom: 30px;
}
.casestuding_containts .btnarrow div {
  margin-right: 10px;
}
.casestuding_containts .btnarrow img {
  transform: rotate(180deg);
}
.casestuding_containts h1 {
  color: var(--black);
  max-width: 960px;
  font-size: 64px;
}
.casestuding_containts .pro_logo {
  width: 330px;
  height: 90px;
  border: 1px solid var(--black);
  border-radius: 180px;
  padding: 10px;
}
.casestuding_containts .pro_logo img {
  height: 100%;
}
.casestuding_containts label {
  display: block;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  color: var(--black);
  margin: 39px 0 30px;
}
.casestuding_containts .case {
  border: 1px solid var(--black);
  border-radius: 100px;
  padding: 5.7px;
  padding-right: 39px;
  width: fit-content;
  justify-content: flex-start;
}
.casestuding_containts .case ul {
  width: calc(100% - 46px);
  justify-content: flex-start;
}
.casestuding_containts .case li {
  color: var(--darktheme);
  font-size: 18px;
  font-weight: 500;
  border-right: 2px solid var(--darktheme);
  line-height: 13px;
  padding: 0 15px;
}
.casestuding_containts .case li:last-child {
  padding-right: 0px;
  border: none;
}
.casestuding_containts .case span {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var(--black);
  box-shadow: 0px 0px 10px #00000047;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.case_awward {
  align-items: flex-end;
  margin-top: 10px;
}
.case_awward .awward a:not(:last-child) {
  margin-right: 15px;
}
.case_awward .awward img {
  max-width: 205px;
  max-height: 80px;
}
.case_awward .awward img:not(:first-child) {
  margin-left: 64px;
}

.about_client {
  padding: 50px 0 120px;
  align-items: flex-start;
}
.about_client .left_col {
  width: calc(100% - 440px);
}
.about_client .left_col h2 {
  margin-bottom: 15px;
}
.about_client .left_col p {
  color: var(--black);
  margin-bottom: 20px;
  font-weight: 500;
  padding-right: 25px;
}
.about_client .left_col video {
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}
.about_client .left_col .wp-video {
  width: 100% !important;
}
.casestuding_containts > .wrapper > img {
  margin-top: 30px;
}
.about_client .industry_col {
  background-color: var(--lightblue);
  padding: 11px 24px 19px;
}
.about_client .ndustry {
  border-bottom: 1px dashed var(--black);
  padding-bottom: 15px;
}
.about_client .ndustry h3 {
  line-height: 69px;
  color: var(--black);
  font-size: 26px;
  font-weight: bold;
}
.about_client .ndustry span {
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  display: flex;
  align-items: center;
}
.about_client .ndustry span img {
  margin-right: 8px;
}
.about_client .location {
  line-height: 40px;
  color: #424242;
  font-weight: 500;
  border-bottom: 1px dashed var(--black);
}
.about_client .location img {
  width: 25px;
  margin-right: 11px;
}
.about_client .technology {
}
.about_client .technology h4 {
  font-size: 26px;
  line-height: 69px;
  font-weight: 900;
}
.about_client .technology ul {
}
.about_client .technology ul li {
  width: 22%;
  margin-bottom: 15px;
  margin-right: 4%;
}
.about_client .technology ul li img {
  display: block;
}
.about_client .technology ul li:nth-child(4n) {
  margin-right: 0px;
}
.about_client .ndustry .industry-group,
.about_client .ndustry .service-group {
  width: 100%;
}
.about_client .ndustry .industry-group.indu-list {
  display: flex;
  flex-wrap: wrap;
}
.about_client .ndustry .industry-group.indu-list div:nth-child(2n) {
  margin-left: 16px;
}
.about_client .ndustry .industry-group span,
.about_client .ndustry .service-group span {
  margin-bottom: 5px;
  width: 100%;
}
.about_client .ndustry .industry-group span img,
.about_client .ndustry .service-group span img {
  max-width: 28px;
  margin-right: 5px;
}
.about_client .left_col p img {
  height: auto !important;
}

@media only screen and (max-width: 1599px) {
  .casestuding_containts h1 {
    max-width: 640px;
    font-size: 55px;
  }
  .casestuding_containts .pro_logo {
    width: 370px;
    height: 110px;
  }
  .casestuding_containts .pro_logo img {
    max-width: 230px;
  }
  .casestuding_containts .btnarrow {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1399px) {
  .casestuding_containts .btnarrow {
    margin-bottom: 35px;
  }
  .casestuding_containts h1 {
    max-width: 560px;
  }
  .casestuding_containts .pro_logo {
    width: 260px;
    height: 80px;
  }
  .casestuding_containts .pro_logo img {
    max-width: 150px;
  }
  .case_awward .awward img {
    max-width: 150px;
  }
  .case_awward .awward img:not(:first-child) {
    margin-left: 15px;
  }
  .casestuding_containts .case li {
    font-size: 16px;
    padding: 0px 12px;
    line-height: 12px;
  }
  .casestuding_containts .case span {
    width: 36px;
    height: 36px;
  }
  .casestuding_containts .case {
    padding: 4px;
    padding-right: 20px;
  }
  .casestuding_containts label {
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0;
  }
  .about_client .ndustry h3 {
    line-height: 50px;
    font-size: 18px;
  }
  .about_client .ndustry span {
    font-size: 16px;
  }
  .about_client .ndustry span img {
    margin-right: 4px;
    max-width: 20px;
  }
  .about_client .location {
    line-height: 50px;
  }
  .about_client .location img {
    width: 20px;
    margin-right: 6px;
  }
  .about_client .technology h4 {
    font-size: 20px;
    line-height: 60px;
  }
  .about_client .industry_col {
    padding: 11px 20px 20px;
  }
  .about_client .left_col {
    width: calc(100% - 320px);
  }
}
@media only screen and (max-width: 1023px) {
  .casestuding_containts h1 {
    max-width: 480px;
  }
  .casestuding_containts .pro_logo {
    width: 180px;
    height: 60px;
  }
  .casestuding_containts .pro_logo img {
    max-width: 100px;
  }
  .about_client .left_col {
    width: calc(100% - 280px);
  }
  .about_client {
    padding: 40px 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  .casestuding_containts {
    padding-top: 85px;
  }
  .casestuding_containts .btnarrow {
    margin-bottom: 15px;
  }
  .casestuding_containts .btnarrow div {
    margin-left: 0;
  }
  .casestuding_containts h1 {
    max-width: 480px;
    font-size: 32px;
    margin-bottom: 15px;
  }
  .about_client .left_col h2 {
    margin-bottom: 5px;
  }
  .casestuding_containts .pro_logo img {
    max-width: 70px;
  }
  .casestuding_containts .pro_logo {
    width: 120px;
    height: 45px;
    margin: 0 auto;
    margin-left: 0;
    margin-bottom: 5px;
  }
  .case_awward {
    margin-top: 10px;
  }
  .casestuding_containts .case span {
    width: 26px;
    height: 26px;
  }
  .casestuding_containts .case li {
    font-size: 12px;
    padding: 0px 5px;
    line-height: 7px;
    border-width: 1px;
  }
  .casestuding_containts .case {
    padding: 4px;
    padding-right: 12px;
  }
  .case_awward .awward {
    width: 100%;
    margin-top: 15px;
  }
  .case_awward .awward img {
    max-width: 27%;
  }
  .case_awward .awward img:not(:first-child) {
    margin-left: 0px;
  }
  .case_awward .awward img {
    max-width: 30%;
    margin-right: 3%;
    margin-bottom: 10px;
  }
  .case_awward .awward img:nth-child(3n) {
    margin-right: 0px;
  }
  .casestuding_containts label {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 20px;
  }
  .about_client {
    padding: 20px 0 0px;
  }
  .about_client .left_col {
    width: 100%;
  }
  .about_client .ndustry h3 {
    line-height: 40px;
    font-size: 16px;
  }
  .about_client .location {
    line-height: 40px;
  }
  .about_client .technology h4 {
    font-size: 18px;
    line-height: 50px;
  }
  .about_client .technology ul {
    margin-left: -5px;
  }
  .about_client .technology ul li {
    width: 47px;
    margin-bottom: 10px;
    margin: 0 5px 10px;
  }
  .about_client .industry_col {
    padding: 15px 20px;
    margin: 0 -20px;
  }
  .casestuding_containts > .wrapper > img {
    margin-top: 15px;
  }
  .about_client .left_col p {
    padding-right: 0px;
  }
}
