.casestuding_containts {
  padding-top: 181px;
}
.casestuding_containts .btnarrow {
  margin-bottom: 30px;
}
.casestuding_containts .btnarrow div {
  margin-right: 10px;
}
.casestuding_containts .btnarrow img {
  transform: rotate(180deg);
}
.mainProjectHeader{
  display: flex; 
  justify-content: space-between; 
  align-items: flex-end;
  gap: 30px;
  padding-bottom: 35px;
}
.casestuding_containts h1 {
  color: var(--black);
  font-size: 64px;
  margin-bottom: 24px;
}
.casestuding_containts .pro_logo {
  border: 1px solid var(--black);
  border-radius: 180px;
  padding: 15px 30px;
  height: 148px;
  width: 100%;
  max-width: 430px;
}
.casestuding_containts .pro_logo img {
  width: 200px;
  max-height: 100%;
  object-fit: contain;
}

.casestuding_containts label {
  display: block;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  color: var(--black);
  margin: 39px 0 30px;
}
.casestuding_containts .case {
  border: 1px solid var(--black);
  border-radius: 100px;
  padding: 5.7px;
  padding-right: 39px;
  width: fit-content;
  justify-content: flex-start;
}
.casestuding_containts .case ul {
  justify-content: flex-start;
  width:calc(100% - 46px);
}
.casestuding_containts .case li {
  color: var(--darktheme);
  font-size: 18px;
  font-weight: 500;
  border-right: 2px solid var(--darktheme);
  line-height: 13px;
  padding: 0 15px;
  margin: 5px 0;
}
.casestuding_containts .case li:last-child {
  padding-right: 0px;
  border: none;
}
.casestuding_containts .case span {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  /* background-color: var(--black); */
  /* box-shadow: 0px 0px 10px #00000047; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.case_awward {
  align-items: flex-end;
}
.case_awward .awward a:not(:last-child) {
  margin-right: 15px;
}
.case_awward .awward img {
  max-width: 205px;
  max-height: 80px;
}
.case_awward .awward img:not(:first-child) {
  margin-left: 64px;
}

.about_client {
  padding: 35px 0;
  align-items: flex-start;
}
.about_client .left_col {
  width: calc(100% - 440px);
}
.about_client .left_col h2 {
  margin-bottom: 15px;
}
.about_client .left_col p {
  color: var(--black);
  margin-bottom: 20px;
  font-weight: 500;
  padding-right: 25px;
}
.about_client .left_col video {
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}
.about_client .left_col .wp-video {
  width: 100% !important;
}
.casestuding_containts > .wrapper > img {
  margin-top: 30px;
}
.about_client .industry_col {
  background-color: var(--lightblue);
  padding: 50px;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
}
.about_client .project-details{width: 100%; max-width: 25%; padding-right: 30px; margin-right: 30px; border-right: 1px dashed rgb(0 0 0 / 20%)}
.about_client .project-details h3{font-size: 38px; margin-bottom: 15px; color: var(--black); text-transform: uppercase;}
.about_client .project-details a{color: #9966FF; font-weight: 500; font-size: 21px;}
.about_client .project-details a:hover{color: black; font-weight: 500; font-size: 21px;}
.about_client .project-details span{font-weight: 500; font-size: 16px; color: #424242;}
.about_client .project-details ul li{font-size: 21px;}
.about_client .project-details ul.industryList li{position: relative; margin-right: 5px;}
.about_client .project-details ul.industryList li:not(:last-child)::after{content: ', ';}
.about_client .project-details .items-details{display: flex;}
.about_client .project-details .items-details:not(:last-child){margin-bottom: 12px;}
.about_client .project-details .items-details h4{font-size: 21px; width: 120px; min-width: 120px;}
.about_client .project-details .items-details .map-data{display: flex; align-items: baseline;}
.about_client .project-details .items-details .map-data img{width: 16px; margin-right: 6px; top: 2px; position: relative;}
.about_client .technology{width: 100%; max-width: calc(75% - 30px);}
.about_client .technology ul.technologyList{display: flex; flex-wrap: wrap; gap: 20px;}
/* .about_client .technology ul.technologyList li:last-child{flex-basis: 100%;} */
.about_client .technology ul.technologyList li a{font-size: 16px; line-height: normal; position: relative; padding: 13px 30px; border-radius: 80px; overflow: hidden; background-color: #fff; color: var(--black);font-weight: 500;}
.about_client .technology ul.technologyList li a:hover{color: #fff; background-color: #6A65F6;}
.about_client .technology .teamSize{display: flex; margin-top: 30px; font-size: 21px; color: #424242;}
.about_client .technology .teamSize h4{margin-bottom: 0; margin-right: 20px; color: #000; white-space: nowrap;}

.about_client .ndustry {
  border-bottom: 1px dashed var(--black);
  padding-bottom: 15px;
}
.about_client .ndustry h3 {
  line-height: 69px;
  color: var(--black);
  font-size: 26px;
  font-weight: bold;
}
.about_client .ndustry span {
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  display: flex;
  align-items: center;
}
.about_client .ndustry span img {
  margin-right: 8px;
}
.about_client .location {
  line-height: 40px;
  color: #424242;
  font-weight: 500;
  border-bottom: 1px dashed var(--black);
}
.about_client .location img {
  width: 25px;
  margin-right: 11px;
}
.about_client .technology h4 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about_client .ndustry .industry-group,
.about_client .ndustry .service-group {
  width: 100%;
}
.about_client .ndustry .industry-group.indu-list {
  display: flex;
  flex-wrap: wrap;
}
.about_client .ndustry .industry-group.indu-list div:nth-child(2n) {
  margin-left: 16px;
}
.about_client .ndustry .industry-group span,
.about_client .ndustry .service-group span {
  margin-bottom: 5px;
  width: 100%;
}
.about_client .ndustry .industry-group span img,
.about_client .ndustry .service-group span img {
  max-width: 28px;
  margin-right: 5px;
}
.about_client .left_col p img {
  height: auto !important;
}

.casestudyMain strong{font-size: 21px;}

/* Intial goal */
.intial-goal{background-color: #000; padding: 70px 0; margin: 35px 0;}
.intial-goal .intial-inner{display: flex; align-items: center; flex-wrap: wrap;}
.intial-goal .intial-goal-content{width: 60.5%; padding-right: 30px;}
.intial-goal .intial-goal-content h2{color: #fff; text-transform: capitalize; margin-bottom: 15px;}
.intial-goal .intial-goal-content p{line-height: 1.8;}
.intial-goal .intial-goal-img{width: 39.5%; text-align: center;}

/* Full banner */
.portfolio-image-section{padding: 35px 0;}
.portfolio-image-section .image-inner{overflow: hidden; border-radius: 40px;}

/* pain-area-section */
.pain-area-section{  background-image: url(/assets/images/pain-area-bg.webp); color: #fff; padding: 70px 0; background-position: center; background-size: cover; background-repeat: no-repeat; margin: 35px 0;}
.pain-area-section h2{color: #fff; text-transform: capitalize; margin-bottom: 15px;}
.pain-area-section .pain-area-inner{display: flex; align-items: center; flex-wrap: wrap;justify-content: space-between;}
.pain-area-section .pain-area-content{width: 55%; padding-right: 30px; line-height: 1.8;}
.pain-area-section .pain-area-content p{line-height: 1.8;}
.pain-area-section .pain-area-img{width: 40%; text-align: right;}
.pain-area-section ul li{font-size: 18px; font-weight: 400; position: relative; line-height: 1.8; margin-bottom: 15px; padding-left: 25px;}
.pain-area-section ul li::before{background: #8462d3; background: linear-gradient(90deg, #8462d3 3%, #4396ea); border-radius: 50%; content: ''; height: 10px; left: 0; margin: auto; position: absolute; top: 11px; width: 10px;}

/* developing-section */
.developing-section{padding: 35px 0;}
.developing-section h2{text-transform: capitalize; margin-bottom: 15px;}
.developing-section .developing-inner{display: flex; align-items: center; flex-wrap: wrap;justify-content: space-between;}
.developing-section .developing-content{width: 55%; padding-right: 30px; line-height: 1.8;}
.developing-section .developing-content p{line-height: 1.8; color: #424242;}
.developing-section .developing-img{width: 40%; text-align: right ;}
.developing-section ul li{font-size: 18px; font-weight: 400; position: relative; line-height: 1.8; margin-bottom: 15px; padding-left: 25px; color: #424242;}
.developing-section ul li::before{background: #8462d3; background: linear-gradient(90deg, #8462d3 3%, #4396ea); border-radius: 50%; content: ''; height: 10px; left: 0; margin: auto; position: absolute; top: 11px; width: 10px;}

/* delevery-outline */
.delevery-outline{background-color: #EFF1FF; padding: 70px 0; position: relative; margin: 35px 0;} 
.delevery-outline h2{text-transform: capitalize; margin-bottom: 50px;}
.delevery-outline .delevery-content .items-repeter{display: grid; grid-template-columns: repeat(3, 1fr);  gap: 44px;} 
.delevery-outline .delevery-content .repeterItem p{color: #424242; font-weight: 500; line-height: 1.8;}
.delevery-outline .delevery-content .repeterItem .countItem{width: 70px; height: 70px; border-radius: 100%; padding: 5px; display: flex; align-items: center; justify-content: center; color: #fff; background-color: #6A65F6; font-size: 36px; font-weight: bold; margin-bottom: 20px;}
.delevery-outline .imgObj { position: absolute; bottom: 100%; right: 152px; }

/* challenging-section */
.challenging-section{padding: 35px 0;}
.challenging-section h2{text-transform: capitalize;}
.challenging-section .challenging-inner .challenging-img .pain-area-img{width: 100%; max-width: 700px;}
.challenging-section .challenging-inner{display: grid; grid-template-columns: repeat(2, 1fr);  gap: 44px;}
.challenging-section .challenging-inner .challenging-content{line-height: 1.8;}
.challenging-section .challenging-inner .challenging-content p{color: #424242; line-height: 1.8;}
.challenging-section ul li{font-size: 18px; font-weight: 400; position: relative; line-height: 1.8; margin-bottom: 15px; padding-left: 25px; color: #424242;}
.challenging-section ul li::before{background: #8462d3; background: linear-gradient(90deg, #8462d3 3%, #4396ea); border-radius: 50%; content: ''; height: 10px; left: 0; margin: auto; position: absolute; top: 11px; width: 10px;}

.solution-section{padding: 35px 0;}
.solution-section .solution-inner{padding: 60px; background-color: #EFF1FF; border-radius: 20px;display: grid; grid-template-columns: repeat(2, 1fr);  gap: 44px; align-items: flex-start;}
.solution-section h2{margin-bottom: 15px; align-items: flex-start;}
.solution-section .solution-inner .solution-content p{color: #424242; line-height: 1.8;}
.solution-section ul li{font-size: 18px; font-weight: 400; position: relative; line-height: 1.8; margin-bottom: 15px; padding-left: 25px; color: #424242;}
.solution-section ul li::before{background: #8462d3; background: linear-gradient(90deg, #8462d3 3%, #4396ea); border-radius: 50%; content: ''; height: 10px; left: 0; margin: auto; position: absolute; top: 11px; width: 10px;}
.solution-section .review{background-color: #fff; padding: 60px 40px; border-radius: 20px; margin-top: 50px; position: relative;}
.solution-section .review .review-content{padding: 25px 0;}
.solution-section .review .review-content p{color: #424242; font-weight: 500; line-height: 1.8;}
.solution-section .review .author-details{display: flex; align-items: center;}
.solution-section .review .author-details .author-photo{width: 48px; height: 48px; border-radius: 100%; overflow: hidden; margin-right: 15px;}
.solution-section .review .author-details span{font-size: 21px; font-weight: bold;}
.solution-section .review .imgObj{position: absolute; bottom: calc(100% - 38px); right: 80px;}

.unique-elements{padding: 35px 0;}
.unique-elements h2{text-transform: capitalize; margin-bottom: 30px;}
.unique-elements .repeter-images{display: grid; grid-template-columns: repeat(2, 1fr);  gap: 45px;}
.unique-elements .repeter-images .images-item{background-color: #EFF1FF; border-radius: 20px; padding: 36px;}
.unique-elements .repeter-images .images-item .mainItemDiv{position: relative; height: 450px; overflow: hidden; border-radius: 15px;}
.unique-elements .repeter-images .images-item .mainItemDiv::before{content: ''; width: 100%; height: 100%; background: rgb(0,0,0); background: linear-gradient(0deg, rgb(54 51 149) 0%, rgba(255, 255, 255, 0) 100%); position: absolute; top: 0; left: 0; transition: 0.1s; transform-origin: bottom top; opacity: 0;}
.unique-elements .repeter-images .images-item .itemContent{position: absolute; padding: 30px; padding-bottom: 20px; bottom: 0; transition: 0.1s; transform: translateY(100%);}
.unique-elements .repeter-images .images-item .itemContent h3{font-size: 26px; color: #fff; margin-bottom: 5px;}
.unique-elements .repeter-images .images-item .itemContent p{font-size: 14px;}
.unique-elements .repeter-images .images-item:hover .mainItemDiv::before{opacity: 1; }
.unique-elements .repeter-images .images-item:hover .itemContent{transform: translateY(0); transition-delay: 0.1s;}

/* succes-story */
.succes-story{padding: 35px 0 70px;}
.succes-story h2{margin-bottom: 50px;}
.succes-story .succes-inner{display: flex; flex-wrap: wrap;}
.succes-story ul li{font-size: 18px; font-weight: 400; position: relative; line-height: 1.8; margin-bottom: 15px; padding-left: 25px; color: #424242;}
.succes-story ul li::before{background: #8462d3; background: linear-gradient(90deg, #8462d3 3%, #4396ea); border-radius: 50%; content: ''; height: 10px; left: 0; margin: auto; position: absolute; top: 11px; width: 10px;}
.succes-story .succes-inner .success-output{width: 100%; max-width: 35%; padding-right: 30px;}
.succes-story .succes-inner .success-content{width: 100%; max-width: 65%;}
.succes-story .succes-inner .success-content p{color: #424242; line-height: 1.8;}
.succes-story .success-item-list{display: flex; gap: 40px;}
.succes-story .success-item-list .images-item{width: 125px; text-align: center;}
.succes-story .success-item-list .images-item .itemImage{width: 124px; height: 124px; display: flex; align-items: center; justify-content: center; border-radius: 100%; border: 2px solid #6A65F6; background-color: #fff; box-shadow: 0 0 14px rgba(97, 102, 248, 0.25); margin-bottom: 15px;padding: 15px;}
.succes-story .success-item-list .images-item .itemContent h3{font-size: 24px; color: #424242;}
.succes-story .success-item-list .images-item .itemContent span{    text-transform: capitalize; width: 100%; max-width: 90px; display: block; margin: 0 auto;}

@media only screen and (max-width: 1750px) {
  .about_client .industry_col{padding: 30px;}
  .about_client .project-details h3{font-size: 32px;}
  .mainProjectHeader{padding-bottom: 25px;}
  .about_client, .portfolio-image-section, .developing-section, .challenging-section, .solution-section, .unique-elements{padding: 25px 0;}
  .intial-goal, .pain-area-section, .delevery-outline{margin: 25px 0; padding: 40px 0;}
  .succes-story{padding: 25px 0 50px;}
  .unique-elements .repeter-images .images-item .mainItemDiv{height: 23.4375vw;}
}

@media only screen and (max-width: 1599px) {
  .casestuding_containts h1 {
    font-size: 50px;
  }
  .casestuding_containts .btnarrow {
    margin-bottom: 10px;
  }
  .casestuding_containts{
    padding-top: 140px;
  }
  .about_client .project-details{max-width: 30%;}
  .about_client .technology{max-width: calc(60% - 30px);}
  .about_client .project-details h3{font-size: 30px;}
  .about_client .technology ul.technologyList li:last-child{flex-basis: auto;}
  .delevery-outline .imgObj{bottom: 94%;}
  .succes-story .success-item-list .images-item .itemImage{width: 115px; height: 115px;}
  .casestuding_containts .pro_logo{max-width: 320px;height: 120px;}
}


@media only screen and (max-width: 1400px) {
  .casestuding_containts .btnarrow {
    margin-bottom: 20px;
  }
  .case_awward .awward img {
    max-width: 150px;
  }
  .case_awward .awward img:not(:first-child) {
    margin-left: 15px;
  }
  .casestuding_containts .case li {
    font-size: 16px;
    padding: 0px 12px;
    line-height: 12px;
  }
  .casestuding_containts .case span {
    width: 36px;
    height: 36px;
  }
  .casestuding_containts .case {
    padding: 4px;
    padding-right: 20px;
  }
  .casestuding_containts label {
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0;
  }
  .about_client .ndustry h3 {
    line-height: 50px;
    font-size: 18px;
  }
  .about_client .ndustry span {
    font-size: 16px;
  }
  .about_client .ndustry span img {
    margin-right: 4px;
    max-width: 20px;
  }
  .about_client .location {
    line-height: 50px;
  }
  .about_client .location img {
    width: 20px;
    margin-right: 6px;
  }
  .about_client .left_col {
    width: calc(100% - 320px);
  }
  .about_client .project-details .items-details h4, .about_client .project-details a, .about_client .project-details span, .about_client .technology ul.technologyList li a, .about_client .technology h4, .about_client .technology .teamSize, .pain-area-section ul li, .developing-section ul li, .challenging-section ul li, .solution-section ul li, .succes-story ul li, .casestudyMain strong{font-size: 16px;}
  .about_client .technology ul.technologyList{gap: 10px;}
  .solution-section .solution-inner{padding: 30px;}
  .unique-elements .repeter-images .images-item{padding: 24px;}
  .succes-story .success-item-list{gap: 20px;}
  .succes-story .success-item-list .images-item{width: 100px;}
  .succes-story .success-item-list .images-item .itemImage{width: 100px; height: 100px;}
  .casestuding_containts .pro_logo{max-width: 300px; height: 100px;}
  .casestuding_containts .pro_logo img{width: 150px;}
}

@media only screen and (max-width: 1199px) {
  .about_client .industry_col{border-radius: 20px;}
  .casestuding_containts h1{font-size: 40px;}
  .about_client .project-details{max-width: 40%;}
  .about_client .project-details h3{font-size: 28px;}
  .delevery-outline h2{margin-bottom: 30px;}
  .delevery-outline .delevery-content .items-repeter{gap: 30px;}
  .delevery-outline .delevery-content .repeterItem .countItem{margin-bottom: 20px;}
  .solution-section .review{padding: 40px 20px;}
  .succes-story .succes-inner .success-output{max-width: 40%;}
  .succes-story .succes-inner .success-content{max-width: 60%;}
  .unique-elements .repeter-images .images-item{padding: 15px;}
  .unique-elements .repeter-images .images-item .itemContent{padding: 10px;}
  .unique-elements .repeter-images .images-item .itemContent h3{font-size: 20px;}
  .unique-elements .repeter-images .images-item .itemContent p{line-height: normal;}
  .succes-story .success-item-list .images-item .itemContent span{font-size: 13px;}
  .casestuding_containts h1{margin-bottom: 10px;}
}

@media only screen and (max-width: 1023px) {
  .about_client .left_col {
    width: calc(100% - 280px);
  }
}

@media only screen and (max-width: 991px) {
  .mainProjectHeader{padding-bottom: 15px;}
  .about_client, .portfolio-image-section, .developing-section, .challenging-section, .solution-section, .unique-elements{padding: 15px 0;}
  .intial-goal, .pain-area-section, .delevery-outline{margin: 15px 0; padding: 30px 0;}
  .succes-story{padding: 15px 0 30px;}
  .casestuding_containts{padding-top: 110px;}
  .casestuding_containts .pro_logo{padding: 10px 20px;}
  .about_client .industry_col{padding: 20px;}
  .about_client .project-details{max-width: 44%;    padding-right: 20px; margin-right: 20px;}
  .about_client .technology{max-width: calc(56% - 30px);}
  .about_client .project-details h3 {font-size: 25px;}
  .about_client .technology ul.technologyList li a{padding: 10px 20px;}
  .about_client .technology .teamSize{flex-wrap: wrap;}
  .about_client .technology .teamSize h4{margin-bottom: 5px; margin-right: 0;}
  .pain-area-section .pain-area-content{width: 100%; padding-right: 0; padding-bottom: 20px;}
  .pain-area-section .pain-area-img{width: 100%;}
  .developing-section .developing-content, .developing-section .developing-img{width: 100%; padding-right: 0;}
  .developing-section .developing-content{padding-bottom: 25px;}
  .delevery-outline .imgObj { bottom: 96%; width: 90px; right: 32px;}
  .delevery-outline .delevery-content .items-repeter{grid-template-columns: repeat(2, 1fr); gap: 20px;}
  .challenging-section .challenging-inner, .solution-section .solution-inner{grid-template-columns: repeat(1, 1fr); gap: 20px;}
  .challenging-section .challenging-inner .challenging-img .pain-area-img{max-width: 380px;}
  .unique-elements .repeter-images{gap: 20px;}
  .unique-elements .repeter-images .images-item{border-radius: 15px;}
  .succes-story .success-item-list{flex-wrap: wrap;}
  .explorework_sec .top_title .leftcol{width: 100%;}
  .casestuding_containts .pro_logo { max-width: 200px; height: 80px; }
  .casestuding_containts .pro_logo img { width: 100px; }
}

@media only screen and (max-width: 767px) {
  .casestuding_containts {
    padding-top: 85px;
  }
  .casestuding_containts .btnarrow {
    margin-bottom: 15px;
  }
  .casestuding_containts .btnarrow div {
    margin-left: 0;
  }
  .casestuding_containts h1 {
    max-width: 100%;
    font-size: 26px;
  }
  .about_client .left_col h2 {
    margin-bottom: 5px;
  }
  .case_awward {
    margin-top: 10px;
  }
  .casestuding_containts .case span {
    width: 26px;
    height: 26px;
  }
  .casestuding_containts .case li {
    font-size: 12px;
    padding: 0px 5px;
    line-height: 7px;
    border-width: 1px;
  }
  .casestuding_containts .case {
    padding: 4px;
    padding-right: 12px;
  }
  .case_awward .awward {
    width: 100%;
    margin-top: 15px;
  }
  .case_awward .awward img {
    max-width: 27%;
  }
  .case_awward .awward img:not(:first-child) {
    margin-left: 0px;
  }
  .case_awward .awward img {
    max-width: 30%;
    margin-right: 3%;
    margin-bottom: 10px;
  }
  .case_awward .awward img:nth-child(3n) {
    margin-right: 0px;
  }
  .casestuding_containts label {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 20px;
  }
  
  .about_client .left_col {
    width: 100%;
  }
  .about_client .ndustry h3 {
    line-height: 40px;
    font-size: 16px;
  }
  .about_client .location {
    line-height: 40px;
  }
  .about_client .technology h4 {
    font-size: 18px;
  }
  .about_client .technology ul {
    margin-left: -5px;
  }
  .about_client .industry_col {
    padding: 15px;
  }
  .casestuding_containts > .wrapper > img {
    margin-top: 15px;
  }
  .about_client .left_col p {
    padding-right: 0px;
  }
  .about_client .project-details{
    max-width: 100%;
    padding-right: 0;margin-right: 0;
    border-right:none;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed rgb(0 0 0 / 20%);
  }
  .about_client .technology{max-width: 100%;}
  .about_client .technology .teamSize{margin-top: 15px;}
  .intial-goal .intial-goal-content, .intial-goal .intial-goal-img{width: 100%;}
  .intial-goal .intial-goal-content{padding-right: 0; padding-bottom: 20px;}
  .unique-elements .repeter-images{grid-template-columns: repeat(1, 1fr);}
  .unique-elements .repeter-images .images-item .mainItemDiv{height: auto; min-height: 164px;}
  .succes-story .succes-inner .success-output, .succes-story .succes-inner .success-content{max-width: 100%;}
  .succes-story h2{margin-bottom: 20px;}
  .succes-story .succes-inner .success-output{padding-right: 0; padding-bottom: 20px;}
  .succes-story .success-item-list{justify-content: center;}
  .about_client .project-details h3{font-size: 19px;}
  .about_client .technology ul.technologyList{gap: 5px;}
  .about_client .technology ul.technologyList li a{font-size: 14px; padding: 10px 15px;}
  .portfolio-image-section .image-inner {border-radius: 15px;}
  .about_client .project-details .items-details h4, .about_client .project-details a, .about_client .project-details span, .about_client .technology ul.technologyList li a, .about_client .technology h4, .about_client .technology .teamSize, .pain-area-section ul li, .developing-section ul li, .challenging-section ul li, .solution-section ul li, .succes-story ul li, .about_client .project-details ul li, .casestudyMain strong{font-size: 14px; line-height: 20px;}
  .intial-goal .intial-goal-img{width: 40%; margin-left: auto;}
  .developing-section ul li, .challenging-section ul li, .solution-section ul li, .pain-area-section ul li, .succes-story ul li{padding-left: 16px; margin-bottom: 10px;}
  .developing-section ul li::before, .challenging-section ul li::before, .solution-section ul li::before, .pain-area-section ul li::before, .succes-story ul li::before{width: 7px; height: 7px; top: 6px;}
  .delevery-outline .delevery-content .repeterItem .countItem{width: 45px; height: 45px; margin-bottom: 10px; font-size: 20px;}
  .solution-section .solution-inner{border-radius: 0;}
  .solution-section .solution-inner{margin: 0 -20px;}
  .solution-section .review{margin-top: 15px; padding: 20px;}  
  .solution-section .review .imgObj { position: absolute; bottom: calc(100% - 16px); right: 30px; width: 30px; }
  .solution-section .review .review-content{padding: 10px 0;}
  .solution-section .review .review-logo{width: 40%;}
  .solution-section .review .author-details span{font-size: 14px;}
  .solution-section .solution-inner { padding: 24px; }
  .delevery-outline .imgObj{display: none;}
  .solution-section .solution-inner{padding: 20px;}
  .casestudyMain h2, .casestudyMain .h2{font-size: 20px !important; margin-bottom: 7px;}
  .unique-elements .repeter-images .images-item, .unique-elements .repeter-images .images-item .mainItemDiv{border-radius: 10px;}
  .unique-elements .repeter-images .images-item .itemContent p{display: none;}
  .unique-elements .repeter-images .images-item .mainItemDiv::before{height: 58%; bottom: 0; top: auto; opacity: 1;}
  .unique-elements .repeter-images .images-item .itemContent h3{font-size: 15px; margin-bottom: 0;}
  .unique-elements .repeter-images .images-item .itemContent{ transform: translateY(0);}
  .succes-story .success-item-list .images-item{width: 77px;}
  .succes-story .success-item-list{gap: 10px;}
  .succes-story .success-item-list .images-item .itemImage{width: 70px; height: 70px;}
  .succes-story .success-item-list .images-item .itemContent h3{font-size: 16px;}
  .succes-story .success-item-list .images-item .itemImage{margin-bottom: 7px;}
  .succes-story .success-item-list .images-item .itemContent span{font-size: 12px;}
  .succes-story{padding-bottom: 15px;}
  .delevery-outline .delevery-content .repeterItem .countItem{margin-bottom: 5px;}
  .casestuding_containts .btnarrow em{display: none;}
  .casestuding_containts .pro_logo { max-width: 150px; height: 50px; padding: 5px 10px;}
  .casestuding_containts .pro_logo img { width: 70px; }
}

@media only screen and (max-width: 575px) {
  .casestuding_containts .pro_logo{position: absolute; top: 0; right: 15px; margin-bottom: 0;}
  .delevery-outline .delevery-content .items-repeter{ grid-template-columns: repeat(1, 1fr);}
  .casestuding_containts .pro_logo{ max-width: 100px; height: 38px;}
}

@media only screen and (max-width: 359px) {
  .casestuding_containts h1{width: 100%;}
  .about_client .project-details .items-details h4, .about_client .project-details a, .about_client .project-details span, .about_client .technology ul.technologyList li a, .about_client .technology h4, .about_client .technology .teamSize, .pain-area-section ul li, .developing-section ul li, .challenging-section ul li, .solution-section ul li, .succes-story ul li, .about_client .project-details ul li, .casestudyMain strong{font-size: 12px;}
  .casestuding_containts h1{margin-bottom: 5px;}
  .about_client .project-details .items-details h4{width: 65px; min-width: 65px; margin-right: 5px;}
  .portfolio-image-section .image-inner {border-radius: 0px; border: 1px solid #e1e1e1; }
  .pain-area-section h2{margin-bottom: 5px;}
}