.career_banner {
  background-image: url(/assets/images/career_bg.jpg);
  padding-top: 245px;
  background-repeat: no-repeat;
  background-size: cover;
}
.career_banner .inner {
  align-items: flex-start;
}
.career_banner .col_right {
  width: calc(100% - 681px);
}
.career_banner .col_left {
  width: 681px;
  padding-right: 92px;
}
.career_banner h1 {
  margin-bottom: 24px;
  text-transform: uppercase;
}
.perks_benefits h2 {
  text-transform: uppercase;
}
.career_banner h3 {
  color: var(--white);
  font-size: 38px;
  line-height: 34px;
}
.career_banner .see_all {
  width: 163px;
  height: 163px;
  border-radius: 50%;
  text-align: center;
  padding: 55px 0px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden !important;
  position: relative;
  cursor: pointer;
}
.career_banner .see_all:after {
  animation: rotate-animation 25s linear infinite;
  background-image: url(/assets/images/btn_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 190px;
  opacity: 0.6;
  position: absolute;
  transition: all 0.2s ease;
  width: 190px;
  z-index: -1;
}
.career_banner  .all_items{
  display: flex;
  align-items: center;
  margin-top: 42px;
  gap: 20px;
}
.career_banner  .video_area{
  width: 163px;
  height: 163px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.video_area:hover .video {
  filter: blur(2px);
  opacity: 0.8;
}

.career_banner .video_area .video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the area without distortion */
  transition: filter 0.3s ease, opacity 0.3s ease;
}
.career_banner  .video_area .play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  cursor: pointer;
  font-weight:500 ;
}

.career_banner .video_area:hover .play_button {
  display: block; /* Show button when hovering */
}
.career_banner .col_left .see_all em {
  font-style: normal;
}
.career_banner .col_left .see_all em {
  font-style: normal;
}
.career_banner .col_right .inner {
  margin-top: 62px;
}
.career_banner .col_right .project_colanimate {
  min-width: auto;
  width: 183px;
  height: 80px;
  margin: 0;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1750px) {
  .career_banner {
    padding-top: 200px;
  }
}
@media only screen and (max-width: 1599px) {
  .career_banner .col_left {
    width: 40%;
    padding-right: 20px;
  }
  .career_banner .col_right {
    width: 58%;
  }
  .career_banner .col_right .project_colanimate {
    width: 170px;
  }
  .career_banner .col_right .inner {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 1399px) {
  .career_banner {
    padding-top: 180px;
  }
  .career_banner .see_all {
    width: 123px;
    height: 123px;
    padding: 43px 0px;
    font-size: 13px;
  }
  .career_banner  .all_items{
    margin-top: 30px;
  }
  .career_banner  .video_area{
    width: 123px;
    height: 123px;
  }
  .career_banner .col_right .project_colanimate {
    width: 155px;
  }
  .career_banner .col_right .project_colanimate img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 1279px) {
  .career_banner p br {
    display: none;
  }
  .career_banner h3 {
    font-size: 32px;
    line-height: 32px;
  }
  .career_banner .col_right .project_colanimate {
    width: 135px;
    height: 70px;
  }
}
@media only screen and (max-width: 1023px) {
  .career_banner .col_left {
    width: 50%;
    padding-right: 20px;
  }
  .career_banner .col_right {
    width: 50%;
  }
  .career_banner .col_right .project_colanimate {
    width: 47%;
    height: 70px;
    margin-bottom: 20px;
  }
  .perks_benefits h2 {
    font-size: 48px;
  }
  .perks_benefits {
    padding: 90px 0px 30px;
  }
}
@media only screen and (max-width: 767px) {
  .career_banner {
    padding-top: 140px;
  }
  .career_banner .col_left {
    width: 100%;
    padding-right: 0;
  }
  .career_banner h1 {
    margin-bottom: 10px;
  }
  .career_banner .see_all {
    width: 90px;
    height: 90px;
    padding: 28px 0px;
    font-size: 10px;
  }
  .career_banner  .video_area{
    width: 90px;
    height: 90px;
  }
  .career_banner .video_area .play_button {
    display: block; /* Show button when hovering */
    font-size: 13px;
  }
  .career_banner .col_right {
    width: 100%;
    margin-top: 20px;
  }
  .career_banner h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .career_banner .col_right .inner {
    margin-top: 30px;
  }
  .career_banner .col_right .project_colanimate {
    width: 47%;
    height: 60px;
    margin-bottom: 13px;
  }
  .career_banner .col_right .project_colanimate img {
    max-width: 90px;
  }
}
