/* popup */
.careerpopup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease all;
}
.careerpopup.open {
  opacity: 1;
  pointer-events: all;
}
.careerpopup .inner {
  width: 840px;
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
}
.careerpopup .contents {
  width: 100%;
  max-width: calc(100% - 100px);
  margin: 0 auto;
}
.careerpopup .top_ban {
  padding: 30px 50px 20px;
  background-color: #000;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 25px;
  background-image: url(/assets/images/popupban.jpg);
}
.careerpopup h2 {
  font-size: 34px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 12px;
}

.careerpopup h3 {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 20px;
  font-family: var(--inter);
}
.careerpopup label {
  font-size: 16px;
  line-height: 31px;
  font-weight: 400;
  font-family: var(--inter);
  color: #000;
  position: relative;
  border: 1px solid #b9b9b9;
  padding: 14px 19.25px;
  border-radius: 30px;
  cursor: pointer;
  margin: 0px 10px 20px 10px;
}
.careerpopup label:nth-child(4n) {
  margin-right: 0px;
}
.careerpopup label input {
  position: absolute;
  opacity: 0;
}
.careerpopup label:has(input:checked) {
  border-color: rgba(132, 98, 211, 1);
  color: var(--white);
  background: rgb(132, 98, 211);
  background: linear-gradient(
    90deg,
    rgba(132, 98, 211, 1) 3%,
    rgba(67, 150, 234, 1) 100%
  );
}
.careerpopup .in {
  height: 58px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16.82px;
  font-weight: 400;
  color: #000;
  resize: none;
  margin-bottom: 30px;
  font-family: var(--inter);
  outline: none;
}
.careerpopup select.in {
  background-image: url(/assets/images/selectp.png);
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.careerpopup .in::placeholder {
  color: #000;
}
.careerpopup textarea.in {
  height: 100px;
}
.careerpopup .colin {
  width: 100%;
  align-items: flex-start;
}
.careerpopup .colin .in,
.custom-file-input,
.captcha-container {
  width: calc(50% - 17px);
  position: relative;
}
.custom-file-input {
  position: relative;
  height: 58px;
}
.custom-file-input label {
  width: 100%;
  margin: 0;
  position: absolute;
  border: none;
  height: 100%;
  padding: 0;
  border-bottom: 1px solid #000;
  border-radius: 0px !important;
}
.custom-file-input label span {
  background-color: #e7e7e7;
  height: 25px;
  padding: 0px 10px;
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  line-height: 25px;
  font-size: 12px;
  font-weight: 500;
}
.custom-file-input input[type='file'] {
  opacity: 0;
  position: absolute;
}
.custom-file-input .file-name {
  font-size: 16.82px;
  font-weight: 400;
  color: #000;
  margin-bottom: 30px;
  font-family: var(--inter);
  line-height: 58px;
}

.careerpopup .in:focus,
.custom-file-input label:focus {
  border-color: #8839ea;
}
.careerpopup .in.error,
.custom-file-input label.error {
  border-color: #f00 !important;
}
.careerpopup .sub {
  outline: none;
  font-size: 18px;
  color: var(--white);
  width: 191px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}
.careerpopup .col {
  position: relative;
  padding-bottom: 25px;
  width: calc(100% + 10px);
  margin-left: -10px;
}
.careerpopup .error-msg {
  width: 100%;
  color: red;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.careerpopup .close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #72388d;
  font-size: 25px;
  color: #72388d;
  line-height: 34px;
  cursor: pointer;
  padding-bottom: 4px;
  font-weight: 900;
  padding-left: 1px;
  transition: 0.2s ease all;
}
.careerpopup .close:hover {
  transform: scale(0.8);
}

.captcha-container {
  margin-bottom: 30px;
}
.captcha-container .in {
  width: 100% !important;
  margin-bottom: 0px !important;
}
.captcha-container .captcha {
  /* position: absolute; */
  right: auto;
  bottom: 0;
  width: 57px;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.5px;
  font-weight: 500;
  font-family: var(--inter);
  height: 25px;
  top: 0;
  margin: auto;
  left: 130px;
}
.captcha-container .regenerate-btn {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  position: absolute;
  right: 0;
  height: fit-content;
  top: 0;
  bottom: 0;
  margin: auto;
}
.captcha-container .regenerate-btn img {
  width: 18px;
}

.careerpopup .subk {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.careerpopup .subk .rotate-right {
  position: absolute;
  right: -40px;
  top: 20px;
  animation: rotate-animation 0.5s linear infinite;
}

@media only screen and (max-width: 1750px) {
  .careerpopup textarea.in {
    height: 70px;
  }
  .careerpopup .in,
  .custom-file-input {
    height: 50px;
    margin-bottom: 20px;
  }
  .careerpopup .inner {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .careerpopup .inner {
    width: calc(100% - 30px);
  }
}
@media only screen and (max-width: 767px) {
  .careerpopup .top_ban {
    padding: 20px 12px 10px;
    margin-bottom: 15px;
  }
  .careerpopup h2 {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 6px;
  }
  .careerpopup p {
    font-size: 12px;
    line-height: 15px;
  }
  .careerpopup .contents {
    width: 100%;
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
  .careerpopup .in,
  .custom-file-input {
    height: 38px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .careerpopup .colin .in,
  .custom-file-input,
  .captcha-container {
    width: 100%;
  }
  .custom-file-input .file-name {
    font-size: 14px;
    line-height: 38px;
  }
  .captcha-container {
    margin-bottom: 20px;
  }
}
