.our_highlights{padding: 82px 0px;}
.our_highlights.perpalbg{background-color: var(--lightblue);}

.our_highlights p { color: var(--darktheme); max-width: calc(100% - 135px); }
.our_highlights .inner{max-width: calc(100% - 159px); margin: 0 auto; margin-right: 0; position: relative;margin-top: 34px;}
.our_highlights .inner::after{content: '';position: absolute;right: 0;top: 0;height: 100%;width: 114px;background-image: url(/assets/images/white_show.png);background-repeat: no-repeat;background-size: 100% 100%;z-index: 2;}
.our_highlights .col{
    width: 430px;    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    transition: transform .3s, box-shadow .3s;
    overflow: hidden;
    background-color: #EFF1FF;
    margin-right: 20px;
    
    /* transition: 0.4s ease all; */
}
.our_highlights .col .img{position: relative;width: 100%;height: 172px;overflow: hidden;overflow: hidden;}
.our_highlights .col .img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.our_highlights .col .btn_col{justify-content: flex-start;margin-bottom: 15px;}
.our_highlights .col .text {padding: 25px 20px;}
.our_highlights .col .text span {
    color: #6a65f6;
    font-size: 12px;
    font-weight: 700;
    line-height: 19.84px;}

    .our_highlights .col .text h3{
        font-size: 20px;
        font-weight: 700
    }
    .our_highlights .col .text h3 a{
        color: #424242;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 48px;
    }
.our_highlights .col .date:before {content: "";
    width: 20px;
    height: 2px;
    background-color: #424242;
    margin: 0 15px;
}
.our_highlights .col .date {
    font-size: 11px;
    display: flex;
    align-items: center;
    position: relative;
}
.our_highlights .col .date img {    
    width: 13px;
    margin-right: 7px;
}
.our_highlights .col .link{font-size: 26px;color: var(--black);line-height: 35px;font-weight: 900;    -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden;}
.our_highlights .col .link:hover{color: var(--Purple);}
.our_highlights .col label{justify-content: flex-start;color: var(--darktheme);font-size: 14px;line-height: 14px;font-weight: 500;margin-top: 15px;}
.our_highlights .col label a{color: var(--darktheme);font-size: 14px;line-height: 14px;font-weight: 500;text-decoration: underline;margin-left: 5px;}
.our_highlights .col label a:hover{color: var(--Purple);}
.our_highlights .col label span{position: relative;padding-left: 14px;margin-left: 14px;}
/* .our_highlights .col label span::after{width: 5px;height: 5px;border-radius: 50%;content: '';left: 0;top: 0;bottom: 0;margin: auto;background: rgb(132,98,211); background: linear-gradient(90deg, rgba(132,98,211,1) 3%, rgba(67,150,234,1) 100%);position: absolute;} */
.our_highlights .col label span::after{width: 8px;height: 8px;border-radius: 50%;content: '';left: 0;top: 0;bottom: 0;margin: auto; background: #6667f9; background: linear-gradient(90deg, #6567f9 75%, #9566ff); position: absolute;}

.our_highlights .nextprev_sec { justify-content: flex-end; position: absolute; top: 34px; right:0px;z-index: 9;}
.our_highlights .nextprev_sec>div{width: 59px;height: 59px;border-radius:50%;border: 1px solid var(--black);display: flex;justify-content: center;align-items: center;cursor: pointer;transition: 0.2s ease all;}
.our_highlights .nextprev_sec>div.hide{display: none;}
.our_highlights .nextprev_sec>div:hover{background-color: var(--black);}
.our_highlights .nextprev_sec>div:hover img{filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5675%) hue-rotate(246deg) brightness(107%) contrast(101%);}
.our_highlights .nextprev_sec>div.next{transform: scale(-1);margin-left: 17.88px;}

@media only screen and (max-width: 1750px) {
    .our_highlights .inner { max-width: calc(100% - 40px); }
    .our_highlights .nextprev_sec { top: 34px; right: 40px; }
}
@media only screen and (max-width:1599px) {
    .our_highlights .col { width: 390px; }
    .our_highlights .col .link { font-size: 22px; line-height: 32px; }
}
@media only screen and (max-width:1399px) {
    .our_highlights .col { width: 350px; }
}
@media only screen and (max-width:1279px) {
    .our_highlights { padding: 50px 0px; }
    .our_highlights p { max-width: 800px; }
    .our_highlights .col .img { height: 210px; }

}
@media only screen and (max-width:1023px) {
    .our_highlights .inner { max-width: calc(100% - 20px); }
    .our_highlights p { max-width: 560px; }
    .our_highlights .col .btn_col .btnmix{    line-height: 1.6; padding: 7px 15px; margin-bottom: 10px;text-align: center;}

}
@media only screen and (max-width:767px) {
    .our_highlights h2{margin-bottom: 10px;}
    .our_highlights .nextprev_sec { top: 15px; right: 0; position: relative; justify-content: flex-start; }
    .our_highlights .nextprev_sec>div { width: 35px; height: 35px; }
    .our_highlights .nextprev_sec>div.next { margin-left: 7px; }
    .our_highlights .inner::after{display: none;}
    .our_highlights .col { width: 260px; margin-right: 12px; }
    .our_highlights .col .img { height: 160px;margin-bottom: 12px;}
    .our_highlights .col .link { font-size: 16px; line-height: 26px; }
    .our_highlights { padding: 30px 0px 20px; }
    


}