.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.icon {
    font-size: 60px;
    color: #ffc107;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.message {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.ipInfo {
    font-size: 14px;
    color: #888;
}