.casestuding_exploredata {
  padding: 50px 0px 110px;
}
.skeleton-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}

.skeleton-item {
  flex-direction: column;
  align-items: center;
}
.moving-background {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 75%);
  background-size: 200% 100%;
  animation: movingBackground 1.5s infinite ease-in-out;
}
.casestuding_exploredata .wrapper > .btn {
  margin: 0 auto;
  display: block;
  width: fit-content;
  color: var(--white);
  width: fit-content;
  border: none;
  outline: none;
  font-weight: bold;
  transition: 0.3s ease all;
  cursor: pointer;
  font-size: 18px;
}
.casestuding_exploredata .loaderdata {
  filter: none !important;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  animation: none;
}
.casestuding_exploredata .loaderdata img {
  animation: rotate-animation 0.8s linear infinite;
}

@media only screen and (max-width: 1399px) {
  .casestuding_exploredata {
    padding: 50px 0px 60px;
  }
}
@media only screen and (max-width: 1023px) {
  .casestuding_exploredata {
    padding: 0px 0px 40px;
  }
  .casestuding_exploredata .wrapper > .btn {
    font-size: 16px;
  }
  .skeleton-grid {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);

  }
}
.infinite-loader {
  text-align: center;
}
.load-more-spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #6167f8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
