.casestuding_banner {
  background-color: #000;
  position: relative;
  overflow: hidden;
}
.casestuding_banner:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 1140px 870px 690px inset #000000bf;
}
.casestuding_banner .video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:
    top 2s ease,
    left 2s ease;
  transform: scale(2);
  transform-origin: center;
  animation: moveVideo 20s infinite alternate linear;
}

/* Define the keyframes for the movement */
@keyframes moveVideo {
  0% {
    transform: translate(0, 0) scale(1.5);
  }
  25% {
    transform: translate(calc(40vw - 50%), 0) scale(1.5); /* Move to the right edge */
  }
  50% {
    transform: translate(calc(40vw - 15%), calc(-10vh - 10%)) scale(1.5); /* Move to the bottom right corner */
  }
  75% {
    transform: translate(0, calc(50vh - 15%)) scale(1.5); /* Move to the bottom left corner */
  }
  100% {
    transform: translate(0, 0) scale(1.5); /* Move back to the original position */
  }
}

.casestuding_banner h1 {
  margin-bottom: 20px;
}
.casestuding_banner .wrapper {
  padding-top: 204px;
}
.casestuding_banner .wrap {
  margin: 26px 0 0;
}
.casestuding_banner .wrap .selectcol:nth-child(2) {
  display: none !important;
}
.casestuding_banner .awards_logo {
  margin-top: 0;
  padding: 92px 0px 32px;
  background-image: none;
}
.selectcol {
  height: 49px;
  background-color: #00000085;
  margin-right: 12px;
  position: relative;
  max-width: 400px;
  min-width: 219px;
  border-radius: 12px;
}
.selectcol h3 {
  font-size: 10px;
  font-weight: 500;
  color: var(--white);
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 2;
}
.select2__control {
  width: 100% !important;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  background-color: #00000085 !important;
  padding-top: 5px;
  padding-bottom: 1px;
  font-size: 14px;
  color: #f0f0f0 !important;
  min-height: 36px;
  box-shadow: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.select2__control--is-focused {
  box-shadow: 0px 0px 20px #553781 !important;
  border-color: #553781 !important;
}

/* Placeholder text */
.select2__placeholder {
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 700;
}

/* Dropdown menu */
.select2__menu {
  margin-top: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dropdown options */
.select2__option {
  padding: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
}

.select2__option--is-focused {
  background-color: #f0f0f0;
}

.select2__option--is-selected {
  background-color: #4caf50;
  color: #fff;
}

/* Single value */
.select2__single-value {
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 700;
  padding-top: 5px !important;
}

/* Input field */
.select2__input {
  color: #333;
  font-size: 14px;
}

/* Indicators (dropdown arrow, clear button, etc.) */
.select2__indicator {
  display: none !important;
}


.select2__indicator-separator {
  display: none;
}

.no-data-found {
  color: #000; /* Gray color for text */
  font-size: 16px; /* Text size */
  text-align: center; /* Center-align message */
}

body .select2__control {
  background-color: transparent !important;
  border: 1px solid var(--white);
  border-radius: 10px !important;
  height: 49px;
  justify-content: space-between !important;
  width: 100% !important;
  font-size: 18px;
  color: var(--white);
  font-weight: bold;
  opacity: 1;
}

body .select2__single-value {
  color: var(--white);
}

body .select2__placeholder {
  color: var(--white);
}

body .select2__control::after {
  content: ''; /* Create a pseudo-element for the custom indicator */
  position: absolute;
  top: 53%;
  right: 17px; /* Position the custom indicator */
  transform: translateY(-50%);
  width: 16px; /* Adjust width of the custom icon */
  height: 16px; /* Adjust height of the custom icon */
  background-image: url(/assets/images/select.png) !important; /* Your custom icon */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* Ensure the icon fits within its area */
  pointer-events: none; /* Prevent the indicator from blocking clicks */
}
body .select2__control--is-focused {
  box-shadow: 0px 0px 20px #553781;
  border-color: #553781;
}

body .select2__menu {
  background-color: #553781;
  border: none;
  border-radius: 7px !important;
  top: 45px;
  padding: 5px;
}

body .select2__menu:after {
  content: '';
  position: absolute;
  top: -5px;
  right: 27px;
  width: 10px;
  height: 10px;
  background-color: #553781;
  transform: rotate(45deg);
}

body .select2__option {
  padding: 0;
  line-height: 30px;
  padding-left: 10px; 
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  z-index: 1;
}

body .select2__option:hover {
  background-color: #0c0416;
  color: var(--white);
}

body .select2__option--is-focused{
  background-color:transparent;
}

body .select2__option--is-selected {
  background-color: #0c0416;
  position: relative;
}

body .select2__option--is-selected::after {
  content: '';
  background: rgb(132, 98, 211);
  background: linear-gradient(
    90deg,
    rgba(132, 98, 211, 1) 3%,
    rgba(67, 150, 234, 1) 100%
  );
  width: 4px;
  height: 22px;
  top: 0;
  bottom: 0;
  left: -2px;
  margin: auto;
  position: absolute;
}

body .select2__menu {
  max-height: 200px; /* Ensure a max-height for scrolling */
  overflow-y: auto !important; 
  pointer-events: auto; /* Enable vertical scrolling */
}

/* Custom Scrollbar */
body .select2__menu::-webkit-scrollbar {
  width: 4px; /* Scrollbar width */
}

body .select2__menu::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color for scrollbar track */
  border-radius: 10px;
}

body .select2__menu::-webkit-scrollbar-thumb {
  background: rgb(132, 98, 211); /* Scrollbar thumb color */
  border-radius: 10px;
}


.loaderdata {
  filter: brightness(0) saturate(100%) invert(100%) sepia(14%) saturate(0%)
    hue-rotate(77deg) brightness(101%) contrast(101%);
  animation: rotate-animation 0.8s linear infinite;
}

@media only screen and (max-width: 1750px) {
  .casestuding_banner .awards_logo {
    margin-top: 0;
    padding: 60px 0px 30px;
    background-image: none;
  }
}
@media only screen and (max-width: 1399px) {
  .casestuding_banner .awards_logo {
    padding: 30px 0px 30px;
  }
}
@media only screen and (max-width: 767px) {
  .casestuding_banner h1 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.25;
  }
  .casestuding_banner .wrapper {
    padding-top: 130px;
  }
  body .selectcol {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  body .select2-container--default .select2-selection--single {
    font-size: 16px;
  }
  .casestuding_banner .awards_logo {
    padding: 15px 0px 30px;
  }
}
